  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <app-hero></app-hero>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <app-about></app-about>
    <!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <app-facts></app-facts>
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <app-skills></app-skills>
    <!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
   <app-resume></app-resume>
    <!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <app-portfolio></app-portfolio>
    <!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <app-services></app-services>
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <app-testimonials></app-testimonials>
    <!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <app-contact></app-contact>
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
    <app-footer></app-footer>
  <!-- End Footer -->
